@(story:News,comments:Seq[Comment],form: Form[models.Comment])(implicit session:Session)
@import tags._
@main(title = "comments") {
	<div class="row story">
		
			<div class="span11">
			<h3>@story.title</h3>
			<span>(@story.link)</span>
			<p><span>@story.points points</span> by <a href="#">@story.username</a> | @prettytime(story.created) </p>
			</div>
	</div>
	
	<div class="row cf">
		@helper.form(routes.Application.commentNews(story.id.get)) {
			<h3>comment this news:</h3>
			<textarea class="xxlarge" name="comment" rows="4"></textarea>
			<div class="clearfix">
				<input type="submit" value="comment" class="btn info"/>
			</div>
		}
	</div>
	@comments.map {c =>
		<div class="row comment">
				<p>@c.comment</p>
				<p class="info"><span>by @c.username</span>
			
		
		</div>
	
	}
}
