@(form: Form[(String,String)])(implicit flash: Flash,session:Session)


@main("Scala News"){
<div class="row">
	<div class="span-15">
	@helper.form(routes.Application.authenticate) {
		<fieldset>
			<legend>Please login</login>
			<div class="clearfix">
				<label for="username">Username:</label>
				<input class="span-8" id="username" name="username" type="text"/>
			</div>
			<div class="clearfix">
				<label for="password">Password:</label>
				<input class="span-8" id="password" name="password" type="password"/>
			</div>
			<div class="actions">
            <input type="submit" class="btn primary" value="Login">
          </div>
		</fieldset>
	
	}
	</div>
</div>
}