@(form: Form[(String,String)])(implicit flash: Flash)

<b>Login</b><br><br>

@helper.form(routes.Application.authenticate) {
    <input type="hidden" name="fnid" value="vGF5VA7KUu" />

    <table border="0">
      <tr>
        <td>username:</td>

        <td><input type="text" name="username" size="20" autocorrect="off" autocapitalize="off" @form("username").value"/></td>
      </tr>

      <tr>
        <td>password:</td>

        <td><input type="password" name="password" size="20" /></td>
      </tr>
    </table><br />
    <input type="submit" value="login" />
  }

  <br />
  <b>Create Account</b><br />
  <br />
<!--
  <form method="post" action="/y">
    <input type="hidden" name="fnid" value="J5Jdoehpzz" />

    <table border="0">
      <tr>
        <td>username:</td>

        <td><input type="text" name="u" size="20" autocorrect="off" autocapitalize=
        "off" /></td>
      </tr>

      <tr>
        <td>password:</td>

        <td><input type="password" name="p" size="20" /></td>
      </tr>
    </table><br />
    <input type="submit" value="create account" />
  </form>-->