@(newz: Seq[News], votedStories:List[String])(implicit session: Session)
@connectedClass(notConnectedClass:String,connectedClass:String) = @{
  if(session.get("username")){connectedClass}else{notConnectedClass}
}
@isVoted(id:String) = @{ if(votedStories.exists(_ == id)){"voted"}else{""}}

@main(title = "news") {
  
  @newz.map { n =>
  <div class="row story">
    
      <div class="span1 @isVoted(n.id.get.toString)">
        @if(!votedStories.exists(_ == n.id.get.toString)) {
        <h2><a class="@connectedClass("login","upvote")" href="@routes.NewsController.voteNews(n.id.get)">
          <img src="@routes.Assets.at("images/upvote.png")"/>
        </a></h2>
        }
      </div>
      <div class="span11">
      <h3>[@n.id.get.toString] @n.title</h3><span>(@n.link)</span>
      <p><span>@n.points points</span> by <a href="#">@n.username</a> | 1 hour ago | <a href="@routes.Application.viewNewsComments(n.id.get)">@n.comments comments</a> </p>
      </div>
  </div>
  
  }
}