@(newsForm: Form[News])(implicit session:Session)
@import helper._
@main(title = "submit") {


        @helper.form(routes.NewsController.submitNews,'class->"form-stacked",'id->"sf") {
        <fieldset>
        	<legend>Submit your news</legend>
        	<div class="clearfix">
				<label for="title">Title:</label>
				<input class="xxlarge" id="title" name="title" type="text"/>
			</div>
			<div class="clearfix">
				<label for="link">Link:</label>
				<input class="xxlarge" id="link" name="link" type="text"/>
			</div>
			<div class="clearfix">
            <input type="submit" class="btn primary" value="Submit">
          </div>
        </fieldset>
        }
        
       
}